environments:
  dev-keycloak:
    values:
      - version: 0.0.1
      - env.d/dev-keycloak/values.secrets.yaml
  dev-dinum:
    values:
      - version: 0.0.1
      - env.d/dev-dinum/values.secrets.yaml

---
repositories:
- name: livekit
  url: https://helm.livekit.io

- name: dev-backends
  url: https://suitenumerique.github.io/helm-dev-backend

releases:
- name: extra
  installed: {{ regexMatch "^dev.*" .Environment.Name }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: ./extra
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml
  values:
  - env.d/{{ .Environment.Name }}/values.meet.yaml.gotmpl
  - addRedirect: {{ .Values | get "addRedirect" "False" }}
  - enablePermanentRedirect: {{ .Values | get "enablePermanentRedirect" "False"}}
  - oldDomain: {{ .Values | get "oldDomain" "demo.com" }}
  - newDomain: {{ .Values | get "newDomain" "demo.com" }}

- name: dev-backend
  installed: {{ regexMatch "^dev.*" .Environment.Name }}
  namespace: {{ .Namespace }}
  chart: dev-backends/dev-backend
  version: 0.0.14
  values:
  - postgres:
      enabled: true
      username: dinum
      password: pass
      database: meet
      size: 1Gi
  - redis:
      enabled: true
      username: user
      password: pass
  - garage:
      enabled: true
      accessKey: meet-access-key
      secretKey: meet-secret-access-key
      bucket: meet-media-storage
      region: local
      persistence: false
      ingress:
        enabled: true
        hostname: garage.127.0.0.1.nip.io
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: 10m
        tls:
          enabled: true
          secretName: meet-tls
      cors:
        allowedOrigins:
        - https://meet.127.0.0.1.nip.io
  - keycloak:
      enabled: true
      hostname: keycloak.127.0.0.1.nip.io
      username: admin
      password: admin
      tls:
        enabled: true
        secretName: meet-tls
      db:
        username: dinum
        password: pass
        database: keycloak
        size: 1Gi
      realm:
        name: meet
        username: meet
        password: meet
        email: meet@example.com


- name: meet
  version: {{ .Values.version }}
  namespace: {{ .Namespace }}
  missingFileHandler: Warn
  chart: ./meet
  values:
  - env.d/common.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.meet.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.secrets.yaml
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml

- name: livekit
  installed: {{ regexMatch "^dev.*" .Environment.Name }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: livekit/livekit-server
  values:
  - env.d/{{ .Environment.Name }}/values.livekit.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.secrets.yaml
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml

- name: livekit-egress
  installed: {{ regexMatch "^dev.*" .Environment.Name }}
  missingFileHandler: Warn
  namespace: {{ .Namespace }}
  chart: livekit/egress
  values:
  - env.d/{{ .Environment.Name }}/values.egress.yaml.gotmpl
  - env.d/{{ .Environment.Name }}/values.secrets.yaml
  secrets:
  - env.d/{{ .Environment.Name }}/secrets.enc.yaml
