@import '@fontsource/material-icons-outlined';

.material-icons,
.material-symbols {
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.material-icons {
  font-family: 'Material Icons Outlined';
}

.material-symbols {
  font-family: 'Material Symbols Outlined Variable';
}
