@import './livekit.css';
@import './icons.css';
@layer reset, base, tokens, recipes, utilities;
html,
body,
#root {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

* {
  outline: 2px solid transparent;
}

[data-rac][data-focus-visible]:not(label, .react-aria-Select),
:is(a, button, input[type='text'], select, textarea):not(
    [data-rac]
  ):focus-visible {
  outline: 2px solid var(--colors-focus-ring);
  outline-offset: 1px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body:has(.lk-video-conference) #crisp-chatbox-button {
  display: none !important;
}

body:has(.lk-video-conference) #crisp-chatbox > * > div[role='button'] {
  display: none !important;
}

@keyframes slide-full {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
