
backend:
  envVars:
    ROOM_SUBTITLE_ENABLED: True

# ---- Frontend : Generic/white-label build (meet-frontend-generic) — Outlook add-in disabled ----
frontend:
  envVars:
    VITE_APP_TITLE: "LaSuite Meet"
    VITE_PORT: 8080
    VITE_HOST: 0.0.0.0
    VITE_API_BASE_URL: https://meet.127.0.0.1.nip.io/

  image:
    repository: localhost:5001/meet-frontend-generic
    pullPolicy: Always
    tag: "latest"

# ---- Extra component: agentSubtitles -------------------------
agentSubtitles:
  replicas: 1
  envVars:
    LIVEKIT_URL: https://livekit.127.0.0.1.nip.io/
    {{- with .Values.livekit.keys }}
    {{- range $key, $value := . }}
    LIVEKIT_API_SECRET: {{ $value }}
    LIVEKIT_API_KEY: {{ $key }}
    {{- end }}
    {{- end }}
    ENABLE_SILERO_VAD: "false"

  image:
    repository: localhost:5001/meet-agents
    pullPolicy: Always
    tag: "latest"

  command:
    - "python"
    - "multi_user_transcriber.py"
    - "start"

  # Extra volume mounts to manage our local custom CA and avoid to disable ssl
  extraVolumeMounts:
    - name: certs
      mountPath: /usr/lib/ssl/cert.pem
      subPath: cert.pem

  # Extra volumes to manage our local custom CA and avoid to disable ssl
  extraVolumes:
    - name: certs
      configMap:
        name: certifi
        items:
        - key: cacert.pem
          path: cert.pem

frontendNginxConfig:
  enabled: false
